---
layout: base.njk
title: Test Your Browser & Fonts
permalink: /browser-test.html
---

<h1>Test Your Browser & Fonts</h1>

<h2>UTF-8 Check</h2>
<p>This site uses UTF-8. Ensure your browser is set accordingly.</p>
