---
layout: base.njk
title: Zach's Tianxia Notebook
permalink: /index.html
---

<h1>Zach's Tianxia Notebook</h1>

<p class="small"><em>(Look! A fast-loading, entirely hand-made web site template without ads, cookies, or bloat.)</em></p>

<p><strong>Quick link</strong> to courses in progress: <a href="/classes.html">My Classes</a>.</p>

<h2>Web Site Table of Contents</h2>

<ol>
{% for section in navigation.sections %}
  <li><strong>{{ section.title }}</strong>
    <ul class="tight">
      {% for item in section.items %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
</ol>

<hr>

<p class="small"><em>Tip:</em> Keep pages long and link-heavy; avoid images and scripts except when essential. This keeps the site fast and readable on any machine.</p>
