---
layout: base.njk
title: "Zach's Tianxia Notebook"
---

<h1>Zach's Tianxia Notebook</h1>

<p>Welcome to my personal website/blog. It's pretty much for any random thing I think of, I think. </p>

<h2>Recent Posts</h2>

<ul>
  <li><a href="/posts/first-post/">Welcome to My Blog</a> <time class="post-date">January 07, 2025</time></li>
  <li><a href="/posts/getting-started/">Getting Started with Eleventy</a> <time class="post-date">January 07, 2025</time></li>
</ul>

<p><em>To add new posts, create a new .md file in the src/posts/ directory with the proper front matter.</em></p>
